@import url('https://fonts.cdnfonts.com/css/hanken-grotesk');

body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}
#container {
    display: flex;
    width: 35%;
    max-width: 1000px;
    min-width: 800px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    min-height: 45vh;
    align-items: center;
}

#content {
    width: 50%; 
    min-width: 50%;
    min-height: 45vh;
    border: 1px solid transparent;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 45vh;
}

#statistiche {
    width: 60%;
    min-width: 60%;
    min-height: 45vh;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    min-height: 45vh;
}

#cerchio {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100px;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
  
#interno {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
  
#sotto {
    font-size: 1rem;
    opacity: 0.6;
    color: white;
    font-weight: normal;
}

#sopra{
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 1rem;
}
  
#content h2{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 30px;
}

#sottone{
    margin-bottom: 50px;
    color: white;
    font-size: 17px;
    padding: 4rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    opacity: 0.6;
}

#statistiche h2{
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-left: 2.2rem;
    padding-top: 0.5rem;
}

#statistiche div{
    padding: 1.5rem;
    margin: 0.4rem;
    display: flex;
    margin-left: 3.5rem;
    border-radius: 20px;
    width: 60%;
}

#reaction {
    background-color: rgba(255, 246, 245, 0.9);
    color: rgb(255, 0, 0, 0.6);
    align-items: center; /* Center items vertically */
    height: 1vh;
}

#reaction #numeri{
    font-size: 1rem;
    width: 100%;
    display: flex;
    margin-left: 2rem;
    justify-content: right;
    align-items: right;
    text-align: right;
}

#memory {
    background-color: rgba(255, 246, 245);
    color: rgb(255,165,0, 0.6);
    align-items: center; /* Center items vertically */
    height: 1vh;
}

#memory #numeri{
    font-size: 1rem;
    width: 100%;
    display: flex;
    margin-left: 2rem;
    justify-content: right;
    align-items: right;
    text-align: right;
}

#verbal {
    background-color: rgba(255, 246, 245, 0.3);
    color: rgb(0,192,163);
    align-items: center; /* Center items vertically */
    height: 1vh;
}

#verbal #numeri{
    font-size: 1rem;
    width: 100%;
    display: flex;
    margin-left: 2rem;
    justify-content: right;
    align-items: right;
    text-align: right;
}

#visual {
    background-color: rgba(255, 246, 245, 0.1);
    color: rgb(0, 0, 255, 0.5);
    align-items: center; /* Center items vertically */
    height: 1vh;
}

#visual #numeri{
    font-size: 1rem;
    width: 100%;
    display: flex;
    margin-left: 2rem;
    justify-content: right;
    align-items: right;
    text-align: right;
}

#statistiche svg{
    padding-right: 0.8rem;
}

#statistiche button{
    color: white;
    background-color: #303B59;
    border-radius: 40px;
    width: 70%;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 3.5rem;
    padding: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 500px) and (max-height: 1000px) {
    #container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        min-width: auto;
    }

    #content{
        width: 100%;
        height: 30%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #cerchio{
       width: 100px;
       height: 200px;
       padding: 1.2rem;
       padding-top: none;
    }

    #interno{
        font-size: 3.2rem;
        font-weight: bold;
    }

    #sotto{
        font-size: 1rem;
    }

    #sopra{
        padding-top: 1.2rem;
        font-size: 1rem;
    }

    #sottone{
        font-size: 0.9rem;
        opacity: 1;
    }

    #content h2{
        font-size: 1.5rem;
        word-break: none;
    }

    #statistiche{
        width: 100%;
    }

    #statistiche div{
        padding: 1.5rem;
        margin: 0.4rem;
        margin-left: 1rem;
        display: flex;
        border-radius: 20px;
        width: 80%;
    }

    #statistiche button{
        width: 80%;
        margin-left: 2rem;
    }
}





